header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 25px;
  font-family: "papyrus";
  margin-top: 20px;
}

body {
  background-color: cornflowerblue;
  font-family: "roboto", sans-serif;
  font-weight: lighter;
}

h3 {
  list-style-type: none;
  margin: 5px;
  padding: 4px;
}
ul {
  list-style-type: none;
  margin: 5px;
  padding: 4px;
  font-size: 17px;
}

#collection-header {
  font-family: "copperplate";
  font-size: 25px;
}

#collection {
  text-align: center;
  width: 20%;
  float: left;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #8648A0;
  margin-right: 27px;
  
}
#collection ul:hover {
  color: white;
  cursor: default;
}
#collection ul {
  font-family: Trattatello;
  text-align: center;
  border-radius: 60%;
  background: #b28fd3;
}
#film-details {
  margin-top: 40px;
  text-align: center;
  width: 75%;
  float: left;
}

img {
  height: 550px;
  border-radius: 5px;
}

#film-review {
  text-align: center;
  margin-bottom: 10px;
}
#posted-reviews {
  background-color: white;
  display: flex;
  padding: 0;
  flex-direction: column;
}
#submit {
  border-radius: 15px;
  border-width: 0.25px;
  border-style: solid;
  background-color: #b28fd3;
}

#review-form {
    margin-left: 250px;
    text-align: center;
    margin-right: 50px
}

#user-review {
    margin-left: 250px;
    margin-right: 50px
}

input[type=text] {
    width: 600px;
    height: 75px
}

input[type=number] {
    width: 75px;
    height: 22px
}

#film-details h1{
    font-size: 50px;
    font-family: luminari;
    margin-bottom: 0px;
    margin-top: 20px
}

#film-details h3{
    font-size: 18px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 0px;
    margin-top: 0px

}


p:nth-of-type(1n){
    margin-bottom: 0px;
    margin-top: 4px;
    margin-right: 330px;
    margin-left: 330px;
    font-style: italic;
    font-family: rockwell;
}

p:nth-of-type(3n){
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 60px;
    margin-left: 60px;
    font-family: rockwell;
}

