header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 25px;
  font-family: "papyrus";
  margin-top: 20px;
}

body {
  background-color: cornflowerblue;
  font-family: "roboto", sans-serif;
  font-weight: lighter;
}

h3 {
  list-style-type: none;
  margin: 5px;
  padding: 4px;
}
ul {
  list-style-type: none;
  margin: 5px;
  padding: 4px;
  font-size: 17px;
}

#collection-header {
  font-family: "copperplate";
  font-size: 25px;
}

#collection {
  text-align: center;
  width: 20%;
  float: left;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #8648A0;
  margin-right: 27px;
  
}
#collection ul:hover {
  color: white;
  cursor: default;
}
#collection ul {
  font-family: Trattatello;
  text-align: center;
  border-radius: 60%;
  background: #b28fd3;
}
#film-details {
  margin-top: 40px;
  text-align: center;
  width: 75%;
  float: left;
}

img {
  height: 550px;
  border-radius: 5px;
}

#film-review {
  text-align: center;
  margin-bottom: 10px;
}
#posted-reviews {
  background-color: white;
  display: flex;
  padding: 0;
  flex-direction: column;
}
#submit {
  border-radius: 15px;
  border-width: 0.25px;
  border-style: solid;
  background-color: #b28fd3;
}

#review-form {
    margin-left: 250px
}

#user-review {
    margin-left: 250px;
    margin-right: 50px
}